@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  overflow-x: hidden;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 300;
  background-color: black;
  color: white;
  font-size: 16px;
  font-size: clamp(1em, calc(1rem + (1.5 - 1) * ((100vw - 48em) / (120 - 48))), 1.5em); }

h1 {
  font-size: 4em;
  margin: 0; }

h2 {
  font-size: 2em;
  margin: 0; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto; 
}

header {
  position: fixed;
  top: 0;
  width: 100%; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
  header #brand img {
    width: 120px;
    filter: invert(1); }
  header nav {
    display: flex;
    gap: 20px; }
    header nav a {
      color: white;
      text-decoration: none; }

#hero {
  height: 90vh;
  min-height: 500px;
  display: flex;
  text-align: center;
  position: relative; }
  #hero #main-cta {
    background-color: #ffeb57;
    color: black;
    padding: 1em 3em;
    border-radius: 100px;
    display: inline-block;
    margin: 1em; }
  #hero .hero__bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0; }
  #hero #hero__bg-img {
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center; }
    #hero #hero__bg-img::before {
      background-color: #0022c9;
      mix-blend-mode: darken;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    #hero #hero__bg-img::after {
      background-color: #2b2962;
      mix-blend-mode: lighten;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  #hero #hero__bg1 {
    height: 80%;
    background-color: #2245f8; }
  #hero #hero__bg2 {
    height: 90%;
    background-color: #ffeb57; }
  #hero #hero__bg3 {
    height: 100%;
    background-color: white; }
